<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brandId</key>
		<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
		<key>brandName</key>
		<string>生鲜自营</string>
		<key>products</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string>其他</string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>brandName</key>
				<string>蛋事</string>
				<key>brandPicUri</key>
				<string>http://192.168.1.44:8080/danshi/productimages/d5818e380f73413f9196ccfb127c1551.jpg</string>
				<key>cartId</key>
				<string>9eaa0976-99f4-41e7-865b-7453cd739be8</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>0</integer>
				<key>originPrice</key>
				<integer>17</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20150922093021608-42ED688D-D273-4544-AB5E-4F7B33FF6C75</string>
				<key>productMade</key>
				<string>铝</string>
				<key>productName</key>
				<string>E淘-商业照明（D190*H75mm）</string>
				<key>productNum</key>
				<string>FB-TD1501/4000K</string>
				<key>productPicUri</key>
				<string>http://192.168.1.44:8080/danshi/productimages/d5818e380f73413f9196ccfb127c1551.jpg</string>
				<key>productPrice</key>
				<integer>13</integer>
				<key>productQty</key>
				<integer>3</integer>
				<key>productStocks</key>
				<integer>2959</integer>
				<key>productStyle</key>
				<string>新品鲜鸡蛋</string>
				<key>productType</key>
				<string>100Kg*3</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>75</integer>
				<key>specLength</key>
				<integer>190</integer>
				<key>specWidth</key>
				<integer>0</integer>
				<key>time</key>
				<string></string>
			</dict>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string></string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>brandName</key>
				<string>蛋事</string>
				<key>brandPicUri</key>
				<string>http://192.168.1.44:8080/danshi/productimages/d5818e380f73413f9196ccfb127c1551.jpg</string>
				<key>cartId</key>
				<string>b5495064-bf5b-4425-96a6-c5ee02e3b837</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>0</integer>
				<key>originPrice</key>
				<integer>8</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20160417110109702-FB5046A7-11BD-4FE7-8963-DC1356C2FFDE</string>
				<key>productMade</key>
				<string></string>
				<key>productName</key>
				<string>E淘-商业照明(D35*H101mm)</string>
				<key>productNum</key>
				<string>ZR-LP5001-尖/3000K</string>
				<key>productPicUri</key>
				<string>http://192.168.1.44:8080/danshi/productimages/d5818e380f73413f9196ccfb127c1551.jpg</string>
				<key>productPrice</key>
				<integer>6</integer>
				<key>productQty</key>
				<integer>3</integer>
				<key>productStocks</key>
				<integer>1000</integer>
				<key>productStyle</key>
				<string></string>
				<key>productType</key>
				<string>100KG</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>101</integer>
				<key>specLength</key>
				<integer>35</integer>
				<key>specWidth</key>
				<integer>0</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
